- var user = user;

.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      .logo
        .title Justbrew
        .subtitle Homebrew Accounting System
      if user
        .user= user.name
