calc()
  arguments = unquote(arguments)
  add-property(current-property[0], s('-%s-calc(%s)', webkit, arguments))
  s('calc(%s)', arguments)

fonte = tahoma

/*CORES*/
preto = rgb(34, 25, 20)
branco = rgb(255, 255, 255)
azul = rgb(36, 146, 198)
azulHighlight = rgb(63, 193, 255)
cinza1 = rgb(216, 216, 216)
cinza2 = rgb(97, 95, 93)
cinza3 = rgb(69, 65, 63)

verde = rgb(74, 187, 197)
verde2 = rgb(25, 136, 25)
amarelo = rgb(224, 159, 5)
amarelo2 = rgb(255, 240, 0)
laranja = rgb(244, 131, 19)
laranja2 = rgb(188, 79, 23)
vermelho = rgb(231, 19, 23)
vermelho2 = rgb(147, 14, 10)
cinzaFonte = rgb(69, 65, 63)

xdcambg = rgb(0, 0, 128)
