header-height = 75px

.logo
  float: left
  margin-left: 15px
  padding-left: 90px
  width: 440px
  background: url(../images/logo.png) no-repeat

.title
  color: #fff
  font-size: 24px
  text-shadow: 1px 1px 2px rgb(245, 222, 179)
  padding-top: 10px

.subtitle
  color: #eee
  font-size: 16px
  padding-top: 2px

.user
  font-size: 16px
  font-weight: bold
  float: right
  padding-top: 40px
  padding-right: 40px
