header-height = 75px

header(id)
  #{id}
    color: #FFF
    height: header-height
    background: url(../images/bg-header.png) repeat-x
   .logo
      float: left
      margin-left: 15px
      padding-left: 90px
      height: 75px
      width: 440px
      background: url(../images/logo.png) no-repeat
   .title
      font-size: 24px
      text-shadow: -2px 2px 3px rgb(148, 129, 129)
      padding-top: 10px
   .subtitle
      font-size: 16px
      text-align: right
      padding-right: 15px
   .user
      font-size: 16px
      font-weight: bold
      float: right
      padding-top: 40px
      padding-right: 40px
