@import 'header'

html, body
  height: 100%

body
  padding-top: 0px

.outer
  position: relative
  height: 100%

.inner
  position: absolute
  top: 50%
  width: 100%
  height: 150px
  margin-top: -(@height/2)+(header-height/2)

.container
  width: 25%