extends ../layouts/main-content

block sidebar
  include ../includes/sidebar

block middle
  .col-sm-10
    .panel.panel-success
      .panel-heading
        .panel-title Ingredients 
                     a(href='/ingredients/new',class='btn btn-xs btn-link') 
                       span.glyphicon.glyphicon-plus
      .panel-content
        - each ingredient in ingredients
          div.ingredient
            div.name= ingredient.name