.logo{float:left;margin-left:15px;padding-left:90px;width:440px;background:url("../images/logo.png") no-repeat}
.navbar-brand .title{color:#fff; padding-top:10px}
.subtitle{color:#eee;font-size:16px;padding-top:2px}
.user{font-size:16px;font-weight:bold;float:right;padding-top:40px;padding-right:40px}

html,body{height:100%}
#wrap{min-height:100%;height:auto;margin:0 auto -60px;padding:0 0 60px}
#wrap > .container{padding:80px 15px 0}
#footer{height:60px;background-color:#f5f5f5}
#footer > .container{padding-left:15px;padding-right:15px}
.container .text-muted{margin:20px 0}
.sidebar{padding:5px;background:rgba(235,235,235,0.47);-webkit-border-radius:5px;border-radius:5px}
a.button{font-size:.5em;vertical-align:top}
