<html ng-app="justbrew">
  <head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <div class="logo">
              <div class="title">Justbrew</div>
              <div class="subtitle">Homebrew Accounting</div>
              <div class="user" ng-show="user">{{user.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <h1>404</h1>
      <p>Not Found!</p>
    </div>
    <div id="footer">
      <div class="container">
        <div class="p text-muted">
          <span class="glyphicon glyphicon-copyright-mark">Santo de Casa 2014</span>
        </div>
      </div>
    </div>
  </body>
</html>
