<!DOCTYPE html>
<html lang="en" ng-app="justbrew">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justbrew - Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container row">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <div class="col-xs-2">
                        <img class="img-responsive img-thumbnail" src="images/logo.jpg">
                    </div>
                    <div class="col-xs-10">
                        <div class="h2 title">Justbrew</div>
                        <h6>Homebrew Accounting</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container row">
        <div class="col-xs-6">
            <p class="error" ng-show="error">{{error}}</p>
            <form action="/api/authenticate" method="post" role="form">
                <div class="form-group">
                    <label for="username" class="sr-only">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control" type="text" name="username" placeholder="Email address" class="span2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i>
                        </span>
                        <input class="form-control" type="password" name="password" placeholder="Password" class="span2" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
                <label class="checkbox-inline">
                    <input type="checkbox">Remember me
                </label>
            </form>
        </div>
    </div>
    <div class="navbar-fixed-bottom navbar-inverse">
        <div class="container row">
            <div class="col-xs-12">
                <small class="text-muted glyphicon glyphicon-copyright-mark">Santo de Casa 2014</small>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</html>